
</div>
<div class="footer-padding"></div>
  <div class="footer bg-color-blue">
    <p>Coded by <a style="color:white;" href="https://arifaisal123.github.io">Arif Faisal</a>. Inspired by <a href="https://appbrewery.com/">Angela Yu</a>. Icons by <a href="https://flaticon.com/">Flaticon</a>.</p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</body>
</html>
